@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.fp {
    margin-left: 10px;
    margin-right: 10px;
    width: 35px;
}

.titleBar {
    display: flex;
    align-items: center;
}

.titleBarText {
    font-size: 16px;
    color: white;
}

.heading {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'VT323', monospace;
    font-size: 100px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.671);
}

p {
    color: white;
}

.animatedHeading {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    color: rgba(238, 238, 238, 0.959);
}

 #animatedHeading .styles_typicalWrapper__1_Uvh::after {
    display: none;
    content: none;
}
