@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.title {
    color: rgba(235, 235, 235, 0.959);
    font-family: 'VT323', monospace;
    font-size: 50px;
}

.titleBar {
    display: flex;
}

.titleBarText {
    color: white;
}
