@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.navbar {
    display: flex;
    font-size: 24px;
    margin-left: 25px;

    width: 70%;
    justify-content: space-between;
    font-family: 'VT323', monospace;
}

.navbar a {
    color: rgb(0, 161, 0);
    font-size: 40px;
    text-decoration: none;
}

.navbar a:hover {
    cursor: pointer;
    color: rgb(0, 241, 0);
}
